.button
{
    -fx-background-color: #236bb2;
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 20;
}
.button:hover
{
    -fx-background-color: #99ccff;
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 20;
}
.button:pressed
{
    -fx-background-color: #003366;
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 20;
}

.exit_button
{
    -fx-background-color: #4ab4de;
    -fx-background-radius: 10 10 10 10;
}
.exit_button:hover
{
    -fx-background-color: #def3f6;
    -fx-background-radius: 10 10 10 10;
}
.exit_button:pressed
{
    -fx-background-color: #345da7;
    -fx-background-radius: 10 10 10 10;
}
.top_panel
{
    -fx-background-color: linear-gradient(to left, #4ab4de, #ff80ed);
}
