.button
{
    -fx-background-color: #236bb2;
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 20;
}
.button:hover
{
    -fx-background-color: #99ccff;
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 20;
}
.button:pressed
{
    -fx-background-color: #003366;
    -fx-background-radius: 10 10 10 10;
    -fx-border-width: 20;
}

.exit_button
{
    -fx-background-color: #4ab4de;
    -fx-background-radius: 10 10 10 10;
}
.exit_button:hover
{
    -fx-background-color: #def3f6;
    -fx-background-radius: 10 10 10 10;
}
.exit_button:pressed
{
    -fx-background-color: #345da7;
    -fx-background-radius: 10 10 10 10;
}
.top_panel
{
    -fx-background-color: linear-gradient(to left, #4ab4de, #ff80ed);
}
.recommend
{
    -fx-background-color: linear-gradient(to right, #A3D5F9, #D9A3F9);
}
.switch_button
{
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 10 10;
}
.switch_button:hover
{
    -fx-background-color: #465160;
    -fx-background-radius: 10 10 10 10;
}
.switch_button:pressed
{
    -fx-background-color: #3E444C;
    -fx-background-radius: 10 10 10 10;
}
.replay_button
{
    -fx-background-color: #A642F4;
    -fx-background-radius: 10 10 10 10;
}
.replay_button:hover
{
    -fx-background-color: #CA8CF9 ;
    -fx-background-radius: 10 10 10 10;
}
.replay_button:pressed
{
    -fx-background-color: #743AA1 ;
    -fx-background-radius: 10 10 10 10;
}
.butt1
{
    -fx-background-color: #FED9D9;
    -fx-background-radius: 0
}
.butt1:hover
{
    -fx-background-color: #CA8CF9 ;
    -fx-background-radius: 0
}
.butt1:pressed
{
    -fx-background-color: #743AA1 ;
    -fx-background-radius: 0
}
.butt2
{
    -fx-background-color: #FED9D9;
    -fx-background-radius: 0
}
.butt2:hover
{
    -fx-background-color: #FBFF97;
    -fx-background-radius: 0
}
.butt2:pressed
{
    -fx-background-color: #BDCA56 ;
    -fx-background-radius: 0
}
.butt3
{
    -fx-background-color: #FED9D9;
    -fx-background-radius: 0
}
.butt3:hover
{
    -fx-background-color: #ABFF97 ;
    -fx-background-radius: 0
}
.butt3:pressed
{
    -fx-background-color: #699B51 ;
    -fx-background-radius: 0
}
.butt4
{
    -fx-background-color: #FED9D9;
    -fx-background-radius: 0
}
.butt4:hover
{
    -fx-background-color: #ABFBEE;
    -fx-background-radius: 0
}
.butt4:pressed
{
    -fx-background-color: #57AA9D ;
    -fx-background-radius: 0
}
.butt5
{
    -fx-background-color: #FED9D9;
    -fx-background-radius: 0
}
.butt5:hover
{
    -fx-background-color: #F19292;
    -fx-background-radius: 0
}
.butt5:pressed
{
    -fx-background-color: #BE3A3A;
    -fx-background-radius: 0
}
.read
{
    -fx-background-color: #8CE8EC;
    -fx-background-radius: 10 10 10 10;
}
.read:hover
{
    -fx-background-color: #D4F8FB;
    -fx-background-radius: 10 10 10 10;
}
.read:pressed
{
    -fx-background-color: #31A3A7;
    -fx-background-radius: 10 10 10 10;
}
.delete
{
    -fx-background-color: #8CE8EC;
    -fx-background-radius: 10 10 10 10;
}
.delete:hover
{
    -fx-background-color: #EF5A5A;
    -fx-background-radius: 10 10 10 10;
}
.delete:pressed
{
    -fx-background-color: #A23D3D;
    -fx-background-radius: 10 10 10 10;
}
.search_butt
{
    -fx-background-color: #AF5AFA;
    -fx-background-radius: 10 10 10 10;
}
.search_butt:hover
{
    -fx-background-color: #D2B0F0;
    -fx-background-radius: 10 10 10 10;
}
.search_butt:pressed
{
    -fx-background-color: #724698;
    -fx-background-radius: 10 10 10 10;
}
.game_butt1
{
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 10 10;
}
.game_butt1:hover
{
    -fx-background-color: #EAC89C;
    -fx-background-radius: 10 10 10 10;
}
.game_butt1:pressed
{
    -fx-background-color: #9A723F;
    -fx-background-radius: 10 10 10 10;
}
.game_butt2
{
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 10 10;
}
.game_butt2:hover
{
    -fx-background-color: #A3F3A4;
    -fx-background-radius: 10 10 10 10;
}
.game_butt2:pressed
{
    -fx-background-color: #468247;
    -fx-background-radius: 10 10 10 10;
}
.game_butt3
{
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 10 10;
}
.game_butt3:hover
{
    -fx-background-color: #A1DCFB;
    -fx-background-radius: 10 10 10 10;
}
.game_butt3:pressed
{
    -fx-background-color: #266383;
    -fx-background-radius: 10 10 10 10;
}